/* <link rel="preconnect" href="https://fonts.gstatic.com"> */
@import("https://fonts.googleapis.com/css2?family=Exo+2&family=Inconsolata:wght@600&display=swap");

:root{
    --primary: #7510f7;
}

li > a{
    text-decoration: none;
    color: var(--primary );
    padding-left:30px ;
    font-size: 130%;
    font-family: 'Exo 2', sans-serif;
}
.hero-intro{
    padding-top: 3%;
}
.hero-body{
    padding: 50px 30px;
}
.hero-title{
    font-size: 50px;
    font-family: 'Inconsolata', monospace;
}
.column{
    text-align: center;
}
.hero-description{
    
    font-family: 'Exo 2', sans-serif;
    font-weight: 100;
}
.portrait-image{
    width: 20%;
    height: 5%;
    border-radius: 100% ;
}
.svg-image-1{
    width: 20%;
}