/* <link rel="preconnect" href="https://fonts.gstatic.com"> */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@100&display=swap');
:root{
    --primary: #7510f7;
}

/* li > a{
    text-decoration: none;
    color: var(--primary );
    padding-left:1rem ;
    font-size: 1.3rem;
    font-family: 'Exo 2', sans-serif;
} */
html, body{
    padding: 0;
    margin: 0;
}
/* .logo-text{
    font-size: 4rem;
    font-family: 'Inconsolata', monospace;
    margin-left: 6rem;
    margin-top: 1rem;
    color: #7510f7;

}
.my-link{
    text-decoration: none;
} */
.hero-intro{
    padding-top: 2%;
}
.hero-body{
    padding: 50px 30px;
}
.hero-title{
    font-size: 50px;
    font-family: 'Inconsolata', monospace;
}
.column{
    text-align: center;
    
}
.hero-description{
    font-weight: light;
    font-family: 'Montserrat', sans-serif;
    color: black;
}
.projects-column{
    
    margin: auto;
    width: 100%;
    max-width: 600px;
    text-align: left;
    
}
.project-list{
    text-align: left;
}
.portrait-image{
    width: 20%;
    height: 5%;
    border-radius: 100% ;
}
.svg-image-1{
    width: 40%;
}
.about-me-container{
    width:100;
}
.about-me{
    background-color: var(--primary);
    margin-top: -5.29%;
    width: 100%;
    right: 0;
    left: 0;
    text-align: center;
}
.about-me-title{
    font-size: 30px;
    font-family: 'Inconsolata', monospace;
    color: white;
    padding-top: 5%;
}
.about-me-description{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20px;
    padding:0 3rem;
}
.about-me-tech{
    color:whitesmoke;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 3%;
    
}
.about-me-tect-list{
    
    font-family: 'Inconsolata', monospace;
    font-size:190% ;
}
.tech-list{
    margin-left: 0;
    padding:0 3rem;
}
.project-title{
    font-family: 'Inconsolata', monospace;  
    font-size: 35px;
}
.blog-title{
    font-family: 'Inconsolata', monospace;  
    font-size: 35px;
}
.link-button {
    display: inline;
    width: 115px;
    text-decoration: none;
    height: 25px;
    background:white;
    padding: 10px;
    border:2px solid;
    border-radius:7px;
    margin-right: 15px;
    color: var(--primary);
    font-weight: bold;
    }
    .project-list {
        font-family: 'Montserrat', sans-serif;
        
    }
    
    .blog-title{
        text-align: center;
    }
    .link-button:hover {
        color: white;
        background-color: var(--primary);
        transition: 0.2s;
    }
    .blog-link{
        text-decoration: none;
        color: #7510f7;
    }
    .fa-facebook {
        padding: 20px;
        font-size: 30px;
        color:#3b5998;
        background-color: white;
        width: 30px;
        border-radius: 100px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
      }
      .footer-contact-us{
        font-family: 'Montserrat', sans-serif;
        color:white;
        padding: 10px 0;
        background-color: #7510f7;
        
      }
      .fa-linkedin {
        padding: 20px;
        font-size: 30px;
        background-color: white;
        width: 30px;
        text-align: center;
        border-radius: 100px;
        text-decoration: none;
        margin: 5px 2px;
        color: #007bb5;
      }
      .fa-instagram{
        padding: 20px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        border-radius: 100px;
        margin: 5px 2px;
        background: white;
        color: red;
      }
      .fa-github {
        padding: 20px;
        font-size: 30px;
        color:#3b5998;
        background-color: white;
        width: 30px;
        border-radius: 100px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
      }
      /* .navbar{
            
        height: 6rem;
        background-color: white;
        
        width: 100%;
        
    }
   .nav-container{
       width: 100%;
      height: inherit;
   }
   .nav-logo{
       
       float: left;
   }
   .nav-logo img{
       width: 2rem;
       
       
   }
   .navbar-menu{
       margin-left: 43rem;
       height: inherit;
   }

   .nav-menu{
    display: inline-flex;
    list-style: none;
    margin-top: 5%;
    margin-left: 2%;
   }
   .nav-menu-list{
       padding-left: 20px;
   } */

   nav{
    width: 100%;
    height: 4rem;
    background: white;
    padding: 1rem;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}
span{
    color: var(--primary);
}
.nav-logo{
    font-weight: bold;
}
.nav-logo a{
    text-decoration: none;
    color: var(--primary);
    font-weight: bolder;
    font-size: 3rem;
}
.nav-bar .nav-menu{
    text-align:right;
    list-style: none;
}
.nav-menu-list{
    display: inline;
    padding: 0rem 0.5rem;
    margin-right:1rem;
    font-size: 1.1rem;
    font-weight: bold;
    
}
li a{
    text-decoration: none;
    color: var(--primary);
}
.project-description{
    font-weight: bolder;
}
.project-heading{
    font-weight: 800;
}

