/* <link rel="preconnect" href="https://fonts.gstatic.com"> */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@100&display=swap');
:root{
    --primary: #7510f7;
}

li > a{
    text-decoration: none;
    color: var(--primary );
    padding-left:30px ;
    font-size: 130%;
    font-family: 'Exo 2', sans-serif;
}
html, body{
    padding: 0;
    margin: 0;
}
.logo-text{
    font-size: 70px;
    font-family: 'Inconsolata', monospace;
    margin-left: 179%;
    margin-top: 16%;
    color: #7510f7;

}
.hero-intro{
    padding-top: 2%;
}
.hero-body{
    padding: 50px 30px;
}
.hero-title{
    font-size: 50px;
    font-family: 'Inconsolata', monospace;
}
.column{
    text-align: center;
    
}
.hero-description{
    
    font-family: 'Montserrat', sans-serif;
    

}
.portrait-image{
    width: 20%;
    height: 5%;
    border-radius: 100% ;
}
.svg-image-1{
    width: 40%;
}
.about-me-container{
    width:100;
}
.about-me{
    background-color: var(--primary);
    margin-top: -5.29%;
    width: 100%;
    right: 0;
    left: 0;
    text-align: center;
}
.about-me-title{
    font-size: 30px;
    font-family: 'Inconsolata', monospace;
    color: white;
    padding-top: 5%;
}
.about-me-description{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20px;
    padding-left: 10%;
    padding-right: 10%;
}
.about-me-tech{
    color:whitesmoke;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 3%;
}
.about-me-tect-list{
    
    font-family: 'Inconsolata', monospace;
    font-size:190% ;
}
.tech-list{
    margin-left: 0;
    padding-left:0;
}
.project-title{
    font-family: 'Inconsolata', monospace;  
    font-size: 35px;
}
.blog-title{
    font-family: 'Inconsolata', monospace;  
    font-size: 35px;
}
.link-button {
    display: inline;
    width: 115px;
    text-decoration: none;
    height: 25px;
    background:white;
    padding: 10px;
    border:2px solid;
    border-radius:7px;
    margin-left: 15px;
    color: var(--primary);
    font-weight: bold;
    }
    .project-1 {
        font-family: 'Montserrat', sans-serif;
    }
    .project-2{
        font-family: 'Montserrat', sans-serif;
    }
    .link-button:hover {
        color: white;
        background-color: var(--primary);
        transition: 0.2s;
    }
    .blog-link{
        text-decoration: none;
        color: #7510f7;
    }
    .fa-facebook {
        padding: 20px;
        font-size: 30px;
        color:#3b5998;
        background-color: white;
        width: 30px;
        border-radius: 100px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
      }
      .footer-contact-us{
        font-family: 'Montserrat', sans-serif;
        color:white;
        padding: 10px 0;
        background-color: #7510f7;
      }
      .fa-linkedin {
        padding: 20px;
        font-size: 30px;
        background-color: white;
        width: 30px;
        text-align: center;
        border-radius: 100px;
        text-decoration: none;
        margin: 5px 2px;
        color: #007bb5;
      }
      .fa-instagram{
        padding: 20px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        border-radius: 100px;
        margin: 5px 2px;
        background: white;
        color: red;
      }